<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Series !{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <div class="container">
        <header>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <h1>Series !</h1>
            {% include('inc/nav.html.twig') %}
        </header>
        <main>
            {% block main %} {% endblock %}
        </main>
        <footer>
            &copy; {{ "now"|date("Y") }} Series !
        </footer>
    </div>

</body>
</html>